@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.mainContainer{

    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('../images/photo-1445205170230-053b83016050.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}

.info{
    margin-top: 50px;
    margin-right: 3%;
}

.logoContainer{
    margin-left: 3%;

 
 
}

.logoContainer img{
    margin-top: 50px;
}

.inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}
.imageBodyContainer{
    margin-left: 3%;
}
.trySmth{
    text-align: left;
    font-family: 'Lato'; 
    margin-top: 5% !important;
    font-size: 5em!important;
    color: white;

}

.smthAmazing{
    text-align: left;
    font-family: 'Lato'; 
    color: white;
    font-size: 5em!important;
    margin-top: -1.5% !important;
}

.navBtn{
    color: white !important;
}
.aboutUsDescription{
    width: 350px;
    color: white;
    font-family: 'Lato'; 
    font-size: 1.1em!important;
    margin-left: 4%;
}
.bodyContainer{
    margin-top: 20vh;
    height: 200px;
    display: flex;
    flex-direction: column;

}


.imageWardrobe{
    margin-top: 10%;
   margin-left: 10%;
    margin-right: 10%;
}

.imageWardrobe img{
        border-radius: 30% 45% 36% 21% / 10% 18% 34% 48%;
        margin-top: -90px;
        float: right;
}


.imageWardrobe h1{
    font-family: "Lato";
   width: 300px;
   font-size: 2.3rem;
}
.imageWardrobe p{
    font-family: "Lato";
    width: 300px;
    margin-left: 4%;
 
}

.trySmth2{
    text-align: left;
    font-family: 'Lato'; 
    margin-top: 5% !important;
    font-size: 5em!important;
    color: rgb(75, 75, 75);

}


.footer{
    margin-top: 220px;
    background-color: rgb(194,139,65);
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.insideFooter{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
 


}

.part1{

    width: 33%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Lato';
}

.part2{
    display: flex;
    flex-direction: column;
    width: 33%;
    color: white;
    font-family: 'Lato';
    

}


.part3{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Lato';
    width: 33%;
    
}

.part3 span{
    margin-top: 8px;
}

.footer2{
    background-color: white;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer2 > p{
    margin-left:8%;
    margin-right:8%;
    font-family: 'Lato';
}
#ic{
    margin: 0 15px 0 15px;
}