
.title{

text-align: center;


}

.link{
    text-decoration: none;
    color: rgb(158, 90, 0);
}

.legen{
    
    text-align: left;
    
}

.oldp{
    text-align: right;
    text-decoration: underline;
  

}

.dateauj{
    text-align: left;
   
}

.MyError{
    float: left;
    font-size: small;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
 
   
}

.head1{
    display: flex;
   
}

.older{
    text-decoration: line-through;
}

.marga{
    width: 600px;
}

.newic{
    height: 30px;
}
.forsell{

    text-decoration: none;
    color: rgb(158, 90, 0);
    background:rgba(255, 0, 0, 0.2);
    

}
.forsell1{

    text-decoration: none;
    color: rgb(158, 90, 0);
    background:rgba(0,255,0,0.1);
    

}